.top-logo {
    display: inline-block;
    padding-right: 40px;
}

.restart {
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
}


.search-bar {
    border: 3px solid #58595B;
}

.search-label {
    color: #323132;
}

.search-result-item{
  font-size: 21px;
  padding: 10px 0px 10px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    text-align: center;
}

.condition-warn {
  font-size: 18px;
  padding: 1px;
  margin: 1px;
  color: darkred;
}
#root{
  padding-bottom:60px;
}